{% load static from staticfiles %}

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Welcome</title>
    <link rel="shortcut icon" href="{% static 'icon.png' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'greeting/styles.css' %}" >
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
</head>

<body data-spy="scroll" data-target=".navbar" data-offset="0">
    <div class="w-100 full-height dark-navy-bg d-flex align-items-center">
        <section class="container main">
            <div class="text-center">
                <h1 class="light-grey-text section-title">Hello, <span class="tosca-text">Apa Kabar?</span></h1>
                <h4><a href="{% url 'greeting:profile' %}"><span class="orange-text">Know Me More</span></a></h4>
                <div class="d-flex align-items-center text-center">
                    <form class="site-form w-100" action="{% url 'greeting:create_status' %}" method="POST">
                        {% csrf_token %}
                        <div>
                            {% for field in status_form.visible_fields %}
                                {{ field }}
                            {% endfor %}
                        </div>
                        <button type="submit" class="btn-sm btn-primary tosca-text dark-navy-bg bolder tosca-border submit-btn">Add!</button>
                    </form>                         
                </div>
            </div>
            <div class="status-entries">
                {% for status in statuses %}
                    <div class="row align-items-center text-center">
                        <div class="col status-entry">
                            <h4 class="light-grey-text">{{ status }}</h4>
                            <h6 class="grey-text">{{ status.created_at }}</h6>
                        </div>
                    </div>    
                {% empty %}
                    <div class="row align-items-center text-center">
                        <div class="col">
                            <h4 class="light-grey-text">No status yet</h4>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </section>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</body>
</html>