{% load static from staticfiles %}

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Jojo Here</title>
    <link rel="shortcut icon" href="{% static 'icon.png' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'greeting/styles.css' %}" >
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
</head>

<body data-spy="scroll" data-target=".navbar" data-offset="0">
    <div class="w-100 full-height dark-navy-bg d-flex align-items-center">
        <section class="container main">
            <div class="text-center align-items-center">
                <h1 class="light-grey-text">Hello, <span class="tosca-text">I'm Jojo</span></h1>
                <div class="text-center">
                    <div class="margin-bot-2">
                        <h4><a href="{% url 'greeting:homepage' %}"><span class="orange-text">Apa Kabar?</span></a></h4>
                    </div>
                    <h6 class="light-grey-text margin-bot-2">
                        I am a web-developing lover, tech-growing enthusiast, and a passionate learner.
                        Currently I am majoring in Computer Science of the University of Indonesia. 
                        I am surrounded by great people, and I am encouraged to be a great person for others.
                    </h6>
                    <h5 class="light-grey-text">I can't wait for us to know each other :)</h5>
                </div>
                <div class="margin-top-3">
                    <a class="btn-sm btn-primary tosca-text dark-navy-bg bolder tosca-border submit-btn" href="http://ppw-b-the-web-joe.herokuapp.com/">About Me</a>
                </div>
            </div>
        </section>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</body>
</html>