body {
    background-color: #e2e2e2;
}

.book-table {
    background-color: white;
    margin-top: 2em;
}

.section-title {
    text-align: center;
    margin: 1em;
}

.fav-icon {
    max-width: 2em;
}

.fav-col {
    text-align: center;
}

.author-list {
    padding-left: 0;
}

.bold {
    font-weight: bold;
}