{% load static from staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="google-signin-client_id" content="50540963988-c1ouu6d4gobg1t6amfp0gblflhikqrjp.apps.googleusercontent.com">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Favorite Books</title>
    <link rel="shortcut icon" href="{% static 'icon.png' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'last/styles/styles.css' %}">
    <script type="text/javascript">
        var yellow_star_src = "{% static 'last/img/yellow_star.png' %}";
        var grey_star_src = "{% static 'last/img/grey_star.png' %}";
        var icon_src = "{% static 'last/img/icon.png' %}";
    </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://apis.google.com/js/platform.js"></script>    
    <script type="text/javascript" src="{% static 'last/js/process_book.js' %}"></script>
    <script type="text/javascript" src="{% static 'last/js/auth_script.js' %}"></script>
</head>
<body onload="initTable()">
    <div class="w-100 full-height">
        <h1 class="section-title">Favorite Books</h1>
        <h5 id='user-name'>of {{ request.session.name }}</h5>
        <div class="text-center d-flex justify-content-center">
            <img id="user-pic">
        </div>
        <div class="form-inline searchDiv d-flex justify-content-between margin-top-2 padding-sides-2">
            <div>
                <input id="searchInput" class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-info my-2 my-sm-0" onclick="searchBook()">Search</button>
            </div>
            <div id="auth-buttons" class="d-flex justify-content-end">
                {% csrf_token %}
                <button class="btn btn-outline-dark my-2 my-sm-0 mr-sm-2" onclick="signOut()">Sign Out <img class="profile-pic" src="{{ request.session.picture }}"></button>
            </div>
        </div>
        <div>
            <table id="book-table" class="table book-table">
                <thead class="thead-dark" id="table-head">
                    <tr>
                        <th scope="col">No</th>
                        <th scope="col">Title</th>
                        <th scope="col">Authors</th>
                        <th scope="col">Publisher</th>
                        <th scope="col fav-col">Favorite (<span id="book-counter">{{ request.session.book_amount }}</span>)</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</body>
</html>


    