{% load static from staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="google-signin-client_id" content="50540963988-c1ouu6d4gobg1t6amfp0gblflhikqrjp.apps.googleusercontent.com">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Log In</title>
    <link rel="shortcut icon" href="{% static 'icon.png' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'last/styles/styles.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script type="text/javascript" src="{% static 'last/js/process_book.js' %}"></script>
    <script type="text/javascript" src="{% static 'last/js/auth_script.js' %}"></script>
    <script src="https://apis.google.com/js/platform.js"></script>
</head>
<body>
    <section class="w-100 full-height d-flex text-center align-items-center justify-content-center container main" id="content">
        <div>
            <h1 class="section-title secondary-text">Log in</h1>
            <h4 class="secondary-text">to get your favorite books</h4>
            <div class="w-100 d-flex justify-content-center">
                {% csrf_token %}
                <div id="signin-btn" class="g-signin2 margin-top-3" data-onsuccess="onSignIn"></div>
            </div>
        </div>
    </section>
</body>
</html>