body {
    font-family: 'Open Sans', sans-serif;
    background-color: rgba(255, 255, 255, 1)
}

.primary-text {
    color: #FF5C3F;
}

.primary-text:hover {
    color: #FF5C3F;
}

.secondary-text {
    color: #000000;
}

.secondary-text:hover {
    color: #000000;
}

.full-height {
    min-height: 100vh;
}

.container {
    padding-top: 10vh;
    padding-bottom: 10vh;
}

.section-title {
    margin-top: 1em;
}

.ternary-bg {
    background-color: #ffffff;
}

.primary-bg {
    background-color: #FF5C3F;
}

.container .main {
    padding-top: 0em;
}

.bold {
    font-weight: bold;
}

.bolder {
    font-weight: bolder;
}

.italic {
    font-style: italic;
}

.primary-border {
    border: 1px solid #FF5C3F;
}

.secondary-border {
    border: 1px solid #d9e5f7;
}

.dark-navy-border {
    border: 1px solid #000011;   
}

.margin-bot-2 {
    margin-bottom: 2em;
}

.margin-top-3 {
    margin-top: 3em;
}

.widened-button {
    min-width: 8em;
    max-width: 15vw;
    margin: 1em auto 1em auto;
}

.ui-accordion-header-active {
    color : #FF5C3F;
}