body {
    background-color: #e2e2e2;
}

.book-table {
    background-color: white;
    margin-top: 2em;
}

.full-height {
    min-height: 100vh;
}

.section-title {
    text-align: center;
    margin: 1em;
    margin-bottom: 0;
}

#user-name {
    text-align: center;
    margin: 1em;
    margin-top:0.2em;
}

.profile-pic {
    border-radius: 50%;
    max-width: 2em;
    max-height: 2em;
    margin-left: 1em;
}

.fav-icon {
    max-width: 2em;
}

.fav-col {
    text-align: center;
}

.author-list {
    padding: 5px;
    padding-left: 0;
    margin: 0;
    border: 0;
}

.bold {
    font-weight: bold;
}

.margin-top-3 {
    margin-top: 3em;
}

.padding-sides-2 {
    padding-left: 2em;
    padding-right: 2em;
}