body {
    font-family: 'Open Sans', sans-serif;
    background-color: rgba(0, 0, 17, 1);
}

.tosca-text {
    color: #00dba0;
}

.tosca-text:hover {
    color: #00dba0;
}

.dark-navy-text {
    color: #000011;
}

.dark-navy-text:hover {
    color: #000011;
    text-decoration: none;
}

.grey-text {
    color: #a4a8ad;
}

.grey-text:hover {
    color: #a4a8ad;
}

.light-grey-text {
    color: #EDEDED;
}

.light-grey-text:hover {
    color: #EDEDED;
}

.orange-text {
    color: #ffe13d;
}

.orange-text:hover {
    color: #ffe13d;
}

.white-text {
    color: #ffffff;
}

.red-text {
    color: #f45138;
}

.red-text:hover {
    color: #f45138;
}

.alert-font {
    color: #f45138;
    text-decoration: underline;
}

.alert-font:hover {
    color: #f45138;
    text-decoration: underline;
}

.full-height {
    min-height: 100vh;
}

.height-90 {
    min-height: 90vh;
}

.height-50 {
    min-height: 50vh;
}

.navbar {
    background-color: #111111;
}

.active .active-ref {
    color: #00dba0;
    font-weight: bold;
}

.brand {
    font-weight: bolder;
    margin-left: 1em;
}

.container {
    padding-top: 10vh;
    padding-bottom: 10vh;
}

::-webkit-input-placeholder {
    text-align: center;
}

::-moz-placeholder {  /* Firefox 19+ */
    text-align: center;  
}

:-ms-input-placeholder {  
    text-align: center; 
}

.section-wrapper {
    position: static;
}

.fields {
    min-width: 60vw;
    margin: 1em auto;
}

.section-title {
    margin-top: 1em;
}

.site-form {
    margin: 4em auto 6em auto;
}

.status-entry {
    margin : 0.5em auto;
    word-break: break-all; 
    word-wrap: break-word;
}

.light-grey-bg {
    background-color: #d9e5f7;
}

.white-bg {
    background-color: #ffffff;
}

.dark-navy-bg {
    background-color: #000011;
}

.black-bg {
    background-color: #000000;
}

.red-bg{
    background-color: #f45138;
}

.tosca-bg {
    background-color: #00dba0;
}

.transparent-bg {
    background-color: transparent;
}


.container .main {
    padding-top: 0em;
}

.bold {
    font-weight: bold;
}

.bolder {
    font-weight: bolder;
}

.italic {
    font-style: italic;
}

.tosca-border {
    border: 1px solid #00dba0;
}

.light-grey-border {
    border: 1px solid #d9e5f7;
}

.dark-navy-border {
    border: 1px solid #000011;   
}

.transparent-border {
    border: none;
}

.rounded-edge {
    border-radius: 2em 2em 2em 2em;
}

.status-card {
    margin-top: 1em;
    margin-bottom: 1em;
}

.card-title {
    margin-bottom: 0.75em;
}

.margin-bot-2 {
    margin-bottom: 2em;
}

.margin-top-3 {
    margin-top: 3em;
}