body {
    font-family: 'Open Sans', sans-serif;
    background-color: #000011;
}

.tosca-text {
    color: #00dba0;
}

.tosca-text:hover {
    color: #00dba0;
}

.blue-text {
    color: #4286f4;
}

.blue-text:hover {
    color: #4286f4;
}

.dark-navy-text {
    color: #000011;
}

.dark-navy-text:hover {
    color: #000011;
    text-decoration: none;
}

.light-grey-text {
    color: #EDEDED;
}

.light-grey-text:hover {
    color: #EDEDED;
}

.white-text {
    color: #ffffff;
}

.alert-text {
    color: #f45138;
}

.alert-text:hover {
    color: #f45138;
}

.full-height {
    min-height: 100vh;
}

.container {
    padding-top: 10vh;
    padding-bottom: 10vh;
}

.section-wrapper {
    position: static;
}

.fields {
    min-width: 60vw;
}

.section-title {
    margin-top: 1em;
    margin-bottom: 1em;
}

.light-grey-bg {
    background-color: #d9e5f7;
}

.widened-button {
    min-width: 8em;
    max-width: 15vw;
    margin: 1em auto 1em auto;
}

.dark-navy-bg {
    background-color: #000011;
}

.tosca-bg {
    background-color: #00dba0;
}

.transparent-bg {
    background-color: transparent;
}


.container .main {
    padding-top: 0em;
}

.bold {
    font-weight: bold;
}

.bolder {
    font-weight: bolder;
}

.italic {
    font-style: italic;
}

.tosca-border {
    border: 1px solid #00dba0;
}

.light-grey-border {
    border: 1px solid #d9e5f7;
}

.dark-navy-border {
    border: 1px solid #000011;   
}

.transparent-border {
    border: none;
}

.rounded-edge {
    border-radius: 2em 2em 2em 2em;
}

.activity-card {
    margin-top: 1em;
    margin-bottom: 1em;
}

.card-title {
    margin-bottom: 0.75em;
}

.activity:hover {
    border: 1px solid #ff7f00;
    transition: all 0.4s ease-in-out;
}