{% load static from staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Favorite Books</title>
    <link rel="shortcut icon" href="{% static 'icon.png' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'ajax/styles/styles.css' %}">
    <script type="text/javascript">
        var yellow_star_src = "{% static 'ajax/img/yellow_star.png' %}";
        var grey_star_src = "{% static 'ajax/img/grey_star.png' %}";
        var icon_src = "{% static 'ajax/img/icon.png' %}";
    </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script type="text/javascript" src="{% static 'ajax/js/process_book.js' %}"></script>
</head>
<body>
    <div class="w-100 full-height">
        <h1 class="section-title">Favorite Books</h1>
        <div class="form-inline searchDiv">
            <input id="searchInput" class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" onclick="searchBook()">Search</button>
        </div>
        <div id="table-holder">
            <table id="book-table" class="table table-hover book-table">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">No</th>
                        <th scope="col">Title</th>
                        <th scope="col">Authors</th>
                        <th scope="col">Publisher</th>
                        <th scope="col fav-col">Favorite (<span id="book-counter">{{ added_books }}</span>)</th>
                    </tr>
                </thead>
                {% for book in items %}
                    <tr>
                        <td class="bold">{{ forloop.counter }}</td>
                        <td>{{ book.title }}</td>
                        <td>
                            <ul class="author-list">
                                {% for author in book.authors %}
                                    <li>{{ author }}</li>
                                {% endfor %}
                            </ul>
                        </td>                    
                        <td>{{ book.publisher }}</td>
                        <td class="fav-col">
                            <form method="POST">
                                {% csrf_token %}
                                {% if book.added %}
                                <a id="book-{{ forloop.counter }}" value="Added" onclick='postBook(event, "book-{{ forloop.counter }}", "{{ book.title }}","{{ book.publisher }}")'>
                                    <img id="book-{{ forloop.counter }}-image" class="fav-icon" src="{% static 'ajax/img/yellow_star.png' %}">
                                </a>
                                {% else %}
                                <a id="book-{{ forloop.counter }}" value="notAdded" onclick='postBook(event, "book-{{ forloop.counter }}", "{{ book.title }}","{{ book.publisher }}")'>
                                    <img id="book-{{ forloop.counter }}-image" class="fav-icon" src="{% static 'ajax/img/grey_star.png' %}">
                                </a>
                                {% endif %}
                            </form>
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
</body>
</html>


    