{% load static from staticfiles %}

<table id="book-table" class="table table-hover book-table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">No</th>
            <th scope="col">Title</th>
            <th scope="col">Authors</th>
            <th scope="col">Publisher</th>
            <th scope="col fav-col">Favorite (<span id="book-counter">{{ added_books }}</span>)</th>
        </tr>
    </thead>
    {% for book in items %}
        <tr>
            <td class="bold">{{ forloop.counter }}</td>
            <td>{{ book.title }}</td>
            <td>
                <ul class="author-list">
                    {% for author in book.authors %}
                        <li>{{ author }}</li>
                    {% endfor %}
                </ul>
            </td>                    
            <td>{{ book.publisher }}</td>
            <td class="fav-col">
                <form>
                    {% csrf_token %}
                    {% if book.added %}
                    <a id="book-{{ forloop.counter }}" value="Added" onclick='postBook(event, "book-{{ forloop.counter }}", "{{ book.title }}","{{ book.publisher }}")'>
                        <img id="book-{{ forloop.counter }}-image" class="fav-icon" src="{% static 'ajax/img/yellow_star.png' %}">
                    </a>
                    {% else %}
                    <a id="book-{{ forloop.counter }}" value="notAdded" onclick='postBook(event, "book-{{ forloop.counter }}", "{{ book.title }}","{{ book.publisher }}")'>
                        <img id="book-{{ forloop.counter }}-image" class="fav-icon" src="{% static 'ajax/img/grey_star.png' %}">
                    </a>
                    {% endif %}
                </form>
            </td>
        </tr>
    {% endfor %}
</table>