{% load static from staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Register Yourself Here</title>
    <link rel="shortcut icon" href="{% static 'icon.png' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'registration/styles/styles.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script type="text/javascript" src="{% static 'registration/js/script.js' %}"></script>
    <script type="text/javascript" src="{% static 'smooth_scroll.js' %}"></script>
</head>
<body onload="listUser()">
    <section class="container main full-height">
        <h1 class="light-grey-text text-center section-title">Sign<span class="tosca-text">Up</span></h1>
        <p class="tosca-text text-center" id="feedback"> &nbsp </p>
        <div class="row">
            <div class="col-md-12">
                <form id="user_info_form" class="site-form" enctype="multipart/form-data">
                    {% csrf_token %}
                    {% for field in form.visible_fields %}
                        <div class="form-group row">
                            <label for="inputName" class="col-md-2 col-3 col-form-label text-right bold tosca-text">
                                {{ field.label_tag }}
                            </label>
                            <div class="col-9 col-md-10">
                                {{ field }}
                            </div>
                        </div>
                    {% endfor %}
                    <div class="form-group row">
                        <div class="col-md-10 col-9 ml-auto">
                            <button id="submit-button" onclick="createUser()" class="btn btn-primary tosca-text dark-navy-bg bolder tosca-border submit-btn" disabled>Sign Up!</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class='widened-button'>
            <a class="btn-sm text-center btn-block tosca-text dark-navy-bg bolder tosca-border" id="to-info" href="#user-list-container">Our Users</a>
        </div>
    </section>
    <section class="container full-height" id='user-list-container'>
        <h1 class="light-grey-text text-center section-title">Our<span class="tosca-text">Users</span></h1>
        <div id="user-list">
        </div>
    </section>

</body>